doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    script(src='/javascripts/sw.js', type='javascript/worker')


    block head

  body

    block content

    block template

    include scripts

    script(src='/components/d3/d3.min.js')
    script(src='/javascripts/common.js')
    //script(src='/javascripts/index.js')
    block scripts
      //script(src='/javascripts/bundled.js')
      //script(src='/javascripts/models.js')
      //script(src='/javascripts/views.js')
      //script(src='/javascripts/main.js')
