body {
  margin: 0;
  padding: 0;
}

@sml: 400px;
@med: 600px;
@lrg: 1200px;


@top-height: 200px;
@navigation-height: 40px;
@tree-element-height: 60px;

@gutter-size: 20px;
@search-width: 300px;

.outer {
  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

.icon, a.icon {
  color: inherit;
  text-decoration: none;
  span {
    padding: 8px;
    &:not(:first-child) {
      padding-left: 0;
    }
  }

  background: white;
}

.icon.link:hover {
  cursor: pointer;
}

// used elsewhere
.active-mixin {
  filter: invert(100%);
}
.hoverlight {
  &:hover {
    background: lightgrey;
  }
}

input.toggle[type='checkbox'], input.toggle[type='radio'] {
  display: none;
  &:checked + label {
  .active-mixin;
  }
  & + label {
    user-select: none;
    -webkit-user-select: none;
  }
}

span.icon {
  padding: 8px;
  min-width: 12px;
  min-height: 12px;
  line-height: 12px;
  text-align: center;
}

.dropdown {
  position: relative;
  //background: red;
  & > *:first-child {
    float: right;
  }
  .dropdown-body {
    a {
      color: inherit;
      text-decoration: none;
    }
    z-index: 20;
    position: absolute;
    min-width: 100px;
    top: 0; // or 100%;
    right: 0;
    display: none; //flex;
    flex-direction: column;
    align-items: flex-end;
    background: white;
    & > * {
      height: @navigation-height;
      width: 100%;
      text-align: right;
      & > * {
        padding: 8px;
        line-height: @navigation-height;
      }
      .hoverlight;
    }

  }
  &.bottom > .dropdown-body {
    top: 100%;
  }
  &:hover {
    .dropdown-body {
      display: flex;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}

.top {
  //background: blue;

  .container {
    height: @top-height;
    display: flex;
    flex-direction: row;

    .picture {
      width: @top-height;
      height: @top-height;
      background: black;
    }
    .picture + .information {
      padding-left: @gutter-size;
    }
    .information {
      flex-grow: 1;
      //background: orange;
    }
  }
}

.body {
  //background: purple;

  .navigation > .container {
    max-height: @navigation-height;
    display: flex;
    position: relative;
    //background: green;
    //padding: 10px 0;
    
    .search {
      display: flex;
      align-items: center;
      width: @search-width;
      position: relative;
      form {
        width: 100%;
      }
      input {
        font-size: 1.5em;
        padding: 4px;
        width: ~"calc(100% - 12px);";
        margin: 8px 0;
      }
      &.offset input {
        padding-left: 54px;
      }
      .search-filters {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0px;
        height: @navigation-height;
        .search-filter {
          border-radius: 5px;
          border: 2px solid black;
          font-size: 1.2em;
          padding: 2px;
          margin: 4px;
          margin-right: 0px;
          display: inline-block;
          line-height: @navigation-height - 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          span:not(:first-child) {
            padding-left: 4px;
          }
          max-width: 120px;
        }
      }
    }

    .controls {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: @gutter-size;
      .left {
        flex-grow: 1;
      }
      .left, .right {
        height: 100%;
        white-space: nowrap;
        & > label, & > a {
          .hoverlight;
          display: inline-block;
          padding: 0 6px;
          background: white;
          & > span {
            height: @navigation-height;
            padding: 0 6px;
            line-height: @navigation-height;
            vertical-align: -5%; // override font awesome
          }
        }
      }
      .icon {
        height: @navigation-height;
        line-height: @navigation-height;
      }

      flex-grow: 1;

      @media(max-width: (1.5*@med)) {
        .icon span:not(:first-child) {
          display: none;
        }
      }

      a.active {
        .active-mixin;
      }

    }
  }
}

.body .container {
  display: flex;
  flex-direction: row;
  position: relative;

  @media(max-width: @lrg) {
    .search-box {
      display: none;
      margin-top: 0px;
      padding-top: 10px;
      background: white;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      &.active {
        display: block;
      }
    }
  }
  @media(min-width: @lrg) {
    .tree {
      margin-left: @gutter-size;
    }
  }
}

.search-box {
  min-width: @search-width;
  //background: teal;
  padding: 0 10px;
  margin: 0 -10px;
  .search-result {
    padding: 0 10px;
    margin: 0 -10px;

    div {
      max-width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    padding: 10px;
    min-height: @navigation-height;

    .filter {
      .hoverlink;
    }
  }
}

.tree {
  flex-grow: 1;
  min-width: 0;
  position: relative;

  .tree-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > div {
      height: @navigation-height;
      line-height: @navigation-height;
      & > span {
        margin: 6px;
      }
      .remove {
        color: inherit;
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .tree-element {
    position: relative;
    height: @tree-element-height;
    z-index: 5;
    &.hover {
      //filter: invert(100%);
      outline: 2px solid black;
      & ~ .tree-element:not(.fake) {
        transform: translateY(@tree-element-height);
      }
    }
    &:focus, &.active {
      outline: none;
      filter: invert(100%);
    }

    &.fake {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      //background: red;
      z-index: 4;
      .active-mixin;
      &.hidden {
        display: none;
      }
    }
    .mask.left, .mask.right {
      display: none;
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      opacity: 0;
      transition: opacity 10s ease-in;
      text-align: center;
      line-height: @tree-element-height;
      font-size: 2em;
    }
    &.hover .mask {
      opacity: 1;
      border: 2px dashed black;
    }
    .mask.left {
      left: 0;
      //background: red;
    }
    .mask.right {
      right: 0;
      //background: green;
    }
    &.hover .mask.left:after {
      content: 'sibling';
    }
    &.hover .mask.right:after {
      content: 'child';
    }
  }
  &.dragging > .tree-element > .mask {
    display: block;
  }
}
.search-result, .tree-element {
  background: white;
  transition: transform 0.2s ease;

  .generate-levels(10);
  .generate-levels(@n, @i: 0) when(@i =< @n) {
    &[level='@{i}'] {
      margin-left: @i * 20px;
    }
    .generate-levels(@n, (@i + 1));
  }
  &.dragged {
    opacity: 0.5;
  }
  &:focus, &.active {
  }
}

.tree-element {
  display: flex;
  //background: turquoise;
  align-items: center;
  span:not(.icon):not(.spacer) {
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .edit {
    span {
      margin: 0;
    }
    .hoverlink;
    display: none;
  }
  .name:hover + .edit, .edit:hover {
    display: block;
  }
}

.nostyle {
  color: inherit;
  text-decoration: none;
}
.hoverstyle {
  &:hover {
    cursor: pointer;
  }
}
.hoverlink {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}



.footer {
  //background: orange;
}

.container {
  .center {
    width: 300px;
    min-height: 400px;
    margin: 100px auto;
  }
  .full {
  }
}

.login {
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    label + input, button {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}
