body {
  margin: 0;
  padding: 0;
}

@sml: 400px;
@med: 600px;
@lrg: 1200px;


@top-height: 200px;
@navigation-height: 40px;
@tree-element-height: 60px;

@gutter-size: 20px;
@search-width: 300px;

.outer {
  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

.hoverlink {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.icon, a.icon {
  color: inherit;
  text-decoration: none;
  span {
    padding: 8px;
    &:not(:first-child) {
      padding-left: 0;
    }
  }

  background: white;
}

.icon.link:hover {
  cursor: pointer;
}

// used elsewhere
.active {
  filter: invert(100%);
}
.hoverlight {
  &:hover {
    background: lightgrey;
  }
}

input.toggle[type='checkbox'], input.toggle[type='radio'] {
  display: none;
  &:checked + label {
  .active;
  }
  & + label {
    user-select: none;
    -webkit-user-select: none;
  }
}

span.icon {
  padding: 8px;
  min-width: 12px;
  min-height: 12px;
  line-height: 12px;
  text-align: center;
}

.dropdown {
  position: relative;
  //background: red;
  & > *:first-child {
    float: right;
  }
  .dropdown-body {
    a {
      color: inherit;
      text-decoration: none;
    }
    z-index: 20;
    position: absolute;
    min-width: 100px;
    top: 0; // or 100%;
    right: 0;
    display: none; //flex;
    flex-direction: column;
    align-items: flex-end;
    background: white;
    & > * {
      height: @navigation-height;
      width: 100%;
      text-align: right;
      & > * {
        padding: 8px;
        line-height: @navigation-height;
      }
      .hoverlight;
    }

  }
  &.bottom > .dropdown-body {
    top: 100%;
  }
  &:hover {
    .dropdown-body {
      display: flex;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}

.top {
  //background: blue;

  .container {
    height: @top-height;
    display: flex;
    flex-direction: row;

    .picture {
      width: @top-height;
      height: @top-height;
      background: black;
    }
    .picture + .information {
      padding-left: @gutter-size;
    }
    .information {
      flex-grow: 1;
      //background: orange;
    }
  }
}

.body {
  //background: purple;

  .navigation > .container {
    max-height: @navigation-height;
    display: flex;
    position: relative;
    //background: green;
    //padding: 10px 0;
    
    .search {
      display: flex;
      align-items: center;
      width: @search-width;
      position: relative;
      form {
        width: 100%;
      }
      input {
        font-size: 1.5em;
        padding: 4px;
        width: ~"calc(100% - 12px);";
        margin: 8px 0;
      }
    }

    .controls {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: @gutter-size;
      .left {
        flex-grow: 1;
      }
      .left, .right {
        height: 100%;
        white-space: nowrap;
        & > label, & > a {
          .hoverlight;
          display: inline-block;
          padding: 0 6px;
          background: white;
          & > span {
            height: @navigation-height;
            padding: 0 6px;
            line-height: @navigation-height;
            vertical-align: -5%; // override font awesome
          }
        }
      }
      a.icon {
        height: @navigation-height;
      }

      flex-grow: 1;

      @media(max-width: (1.5*@med)) {
        a.icon span:not(:first-child) {
          display: none;
        }
      }

      a.active {
        .active;
      }

    }
  }
}

.body .container {
  display: flex;
  flex-direction: row;
  position: relative;

  @media(max-width: @lrg) {
    .search-box {
      //display: none;
      margin-top: -10px;
      padding-top: 10px;
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
  @media(min-width: @lrg) {
    .tree {
      margin-left: @gutter-size;
    }
  }
}

.search-box {
  width: @search-width;
  //background: teal;
  .search-result {
    padding: 10px 0;
    min-height: @navigation-height
  }
}

.tree {
  flex-grow: 1;
  .tree-element {
    height: @tree-element-height;

    .generate-levels(10);
    .generate-levels(@n, @i: 0) when(@i =< @n) {
      &[level='@{i}'] {
        margin-left: @i * 20px;
      }
      .generate-levels(@n, (@i + 1));
    }
  }
  .tree-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > div {
      height: @navigation-height;
      flex-basis: 220px;
      span {
        margin: 6px;
      }
      .remove {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.tree-element {
  display: flex;
  //background: turquoise;
  align-items: center;
  span {
    margin: 0 10px;
  }
}

a.nostyle {
  color: inherit;
  text-decoration: none;
}
a.hoverstyle {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.footer {
  //background: orange;
}

.container {
  .center {
    width: 300px;
    min-height: 400px;
    margin: 100px auto;
  }
  .full {
  }
}

.login {
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    label + input, button {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}
