extends ../full_workspace

block workspace
  .container
    .center.login

      form(name='user', action='/app/user/login', method='post')
        h1 Login
        label(for='username-input') Username
        input#username-input(name='username', type='username')
        label(for='password-input') Password
        input#password-input(name='password', type='password')
        button(type='submit') Submit

      p or

      form(name='new-user', action='/app/user/register', method='post')
        h1 Create User
        label(for='new-name-input') Name
        input#new-name-input(name='name', type='text')
        label(for='new-username-input') Username
        input#new-username-input(name='username', type='username')
        label(for='new-password-input') Password
        input#new-password-input(name='password', type='password')
        button(type='submit') Submit

        if error
          h1=error.name
          pre=error.message
