extends ../layout

block content
  .outer
    .header
      .container
        a.icon(href='#')
          span.fa.fa-bars.fa-lg
          span.site-title Estimating
        span.title
          | Title
        .dropdown.bottom
          a.icon(href='/app/user')
            span.fa.fa-user.fa-lg
            span.user-title User
          .dropdown-body
            a(href='#')
              span Option 1
            a(href='#')
              span Option 2
            a(href='#')
              span Option 3
            a(href='#')
              span Option 4

    block body

    .footer
      .container

